@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .span-style {
        @apply absolute top-0 left-0 w-full h-full origin-center [transform-style:preserve-3d] lg:[transform:rotateY(calc(var(--i)*45deg))_translateZ(350px)] md:[transform:rotateY(calc(var(--i)*45deg))_translateZ(265px)] sm:[transform:rotateY(calc(var(--i)*45deg))_translateZ(216px)] [transform:rotateY(calc(var(--i)*45deg))_translateZ(120px)];
    }
    .img-style {
        @apply absolute top-0 left-0 w-full h-full rounded-sm object-cover [transition:2s] sm:hover:-translate-y-[50px] hover:-translate-y-[20px] hover:scale-[1.3];
    }
}
/** открыть-свернуть контент**/
#toggle-description:checked~#c_description,
#toggle-description-2:checked~#c_description-2,
#toggle-description-3:checked~#c_description-3,
#toggle-description-33:checked~#c_description-33{
    -webkit-line-clamp: unset;
}

#toggle-description:checked~#toggle-btn::before,
#toggle-description-2:checked~#c_description-2,
#toggle-description-3:checked~#c_description-3,
#toggle-description-33:checked~#c_description-33{
    content: 'Свернуть';
}

#toggle-btn::before,
#toggle-btn-2::before,
#toggle-btn-3::before,
#toggle-btn-33::before{
    content: 'Узнать больше';
}




